/*Fonts*/

@font-face {
    font-family: 'THICCCBOI-Black';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Bold';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-ExtraBold';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;

}


@font-face {
    font-family: 'THICCCBOI-Light';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Medium';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Regular';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-SemiBold';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Thicc';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-ThicccAF.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Thin';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;

}
