/*Fonts*/

@font-face {
    font-family: 'THICCCBOI-Black';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Bold';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-ExtraBold';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;

}


@font-face {
    font-family: 'THICCCBOI-Light';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Medium';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Regular';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-SemiBold';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Thicc';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-ThicccAF.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Thin';
    src: url('/Assets/Fonts/Webfont/THICCCBOI-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;

}


/*Style Reset and Defaults*/

html {
    font-size: 20px;

}


.container{
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

img{
    max-width: 100%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 

/*Variables*/

:root{
    --text-black : #343f52;
    --text-grey : #60697b;
    --text-off-grey: #aab0bc;
    --text-white: #fff;
    --text-grey2: #aab0bc;

    --bg-white: #fff8ef;
    --bg-orange: #fab758;
    --bg-off-orange : #fef3e4;

    --sec-orange: #fab758;
    --sec-red: #e2626b;
    --sec-green: #45c4a0;
    --sec-blue : #3f78e0;

    --ter-red : #eea1a6;
    --ter-orange: #fcd49b;
    --ter-green: #8fdcc6;
    --ter-blue: #8caeec;

}


body{
    font-family: 'THICCCBOI-regular';
    color: var(--text-black);
}


/*Header*/

.header{
    justify-content: space-between;
    align-items: center;
    font-size: .85rem;
    margin-bottom: 9em;
    margin-top: 1.5em;
}

.header img{
    object-fit: contain;
}

.header ul{
    list-style: none;
}

.header a{
    text-decoration: none;
}

.header nav{
    flex-basis: 60%;
}

nav ul {
    justify-content: center;
}

.nav li {
    padding: 0 1.5em;
    display: flex;
    align-items: center;

}

nav svg {
    padding: 0 0 0 .5em;
    

}


/*main*/

.main{
    grid-template-columns: 60% 40%;
    align-items: center;
    margin-bottom: 7em;

}

.main h1 {
    font-size: 2.5rem;
    font-family: 'THICCCBOI-Bold';
    margin-bottom: .8em;
}

.main p {
    font-size: 1.1rem;
    color: var(--text-grey);
    line-height: 1.55;
    margin-bottom: 1em;
}

.pill-btn {
    background-color: var(--bg-orange);
    color: var(--text-white);
    font-size: 0.85rem;
    font-family: 'THICCCBOI-bold';
    padding: .8em 1.2em;
    border: 2px solid var(--bg-orange);
    border-top-left-radius: 50rem;
    border-top-right-radius: 50rem;
    border-bottom-left-radius: 50rem;
    border-bottom-right-radius: 50rem;
}

/*article 1*/

.services{
    flex-direction: column;
}

.services > h3{
    align-self: center;
    order: 1; 
    font-size: .8rem;
    font-family: 'THICCCBOI-Bold';
    color: var(--text-grey2);
    letter-spacing: .08rem;
    margin-bottom: 1.75em;

}

.services > h2{
    align-self: center;
    order: 2;
    text-align: center;
    font-size: 1.9rem;
    font-family: 'THICCCBOI-Bold';
    margin-bottom: 1.5em;
}

.services > div {
    order: 3;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 2%;
}

.service-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12% 12%;
    box-shadow: #343f52; 
}

.service-box svg {
    width: 20%;
    
}

.lineal-fill.seo {
    fill: var(--ter-orange)
}

.lineal-fill.web{
    fill: var(--ter-red);
}

.lineal-fill.chat{
    fill: var(--ter-green);
}

.lineal-fill.megphone{
    fill: var(--ter-blue);
}


.service-box > p:first-of-type {
    font-size: 1rem;
    font-family: 'THICCCBOI-Bold';
    margin-top: .75em;
    margin-bottom: 1em;
}

.service-box > p:nth-child(3){
    font-size: .85rem;
    font-family: 'THICCCBOI-Medium';
    color: var(--text-grey);
    line-height: 1.7;
    text-align: center;
    margin-bottom: 1.4em;
}

.service-box a{

    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    
}

.service-box .text-yellow{
    color: var(--sec-orange);
}

.service-box .text-red{
    color: var(--sec-red);
}

.service-box .text-green{
    color: var(--sec-green);

}

.service-box .text-blue{
    color: var(--sec-blue);
}

/*article 2*/

.layout-1 {
    display: grid;
    grid-template-columns: 40% 60% ;
    font-family: 'THICCCBOI-Bold';

}

.layout-1 > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
}


.layout-1 > div:nth-of-type(1) > h3{
    order: 1;
    color: var(--text-grey2);
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05rem;
    margin-bottom: 1.5em;
}

.layout-1 > div:nth-of-type(1) > h2{
    order: 2;
    font-size: 1.9rem;
    margin-bottom: 1.1em;
}

.layout-1 > div:nth-of-type(1) > p{
    order: 3;
    font-family: 'THICCCBOI-Medium';
    color: var(--text-grey);
    line-height: 1.5;
    margin-bottom: 1.7em;
}

.form{
    order: 4;
    display: flex;
}

.form input[type=text]{
    flex-basis: 50%;
    padding: 3%;
    font-size: .75rem;
    font-family: 'THICCCBOI-Medium';
    color: var(--text-grey);
    border: 1px solid rgba(8, 60,130,.07);
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
}


.form input[type=text]:focus-visible{
    outline: none;
    border: 1px solid var(--bg-orange);

}

.form button{
    font-size: .85rem;
    font-family: 'THICCCBOI-SemiBold';
    color: var(--text-white);
    background-color: var(--bg-orange);
    border: 2px solid var(--bg-orange);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: .8em 1.5em;
}

.form::placeholder{

}

/*about*/

.process{
    display: grid;
    grid-template-columns: 50% 50%;

}

.process1{
    display: flex;
    flex-direction: column;

}

.process1 > h3{
    order: 1;
    font-size: .8rem;
    font-family: 'THICCCBOI-SemiBold';
    color: var(--text-grey2);
    text-transform: uppercase;
    margin-bottom: 1.8em;
    letter-spacing: 1px;

}

.process1 > h2{
    order: 2;
    font-size: 1.9rem;
    font-family: 'THICCCBOI-Bold';
    line-height: 1.25;
    margin-bottom: 1.2em;

}


.process1 > p{
    order: 3;
    font-size: .85rem ;
    font-family: 'THICCCBOI-Medium';
    line-height: 1.7;
    color: var(--text-grey);
    margin-bottom: 2em;


}

.process1 > button{
    order: 4;
    width: max-content;
}

.process2{
    display: flex;
    flex-direction: column;
}


.step {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 1.4em 5em 1.4em 1.4em;
    border: 1px solid red;
    border-radius: 4px;
    margin-bottom: 1.7em;
}

.step > div:nth-of-type(1) {
    text-align: center;
    font-size: 1.1rem;
    font-family: 'THICCCBOI-SemiBold';
    background-color: var(--bg-off-orange);
    color: var(--bg-orange);
    padding: 1em;
    border-radius: 50%;

}

.step > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin-left: 1.2em;
}

.step p {
    font-family: 'THICCCBOI-Bold';
    margin-bottom: .4em;
}

.step span{
    font-size: .85rem;
    color: var(--text-grey);
}

.solutions {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}


.layout-2{
    display: flex;
    flex-direction: column;
}