/*Fonts*/

@font-face {
    font-family: 'THICCCBOI-Black';
    src: url('Fonts/Webfont/THICCCBOI-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Bold';
    src: url('Fonts/Webfont/THICCCBOI-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-ExtraBold';
    src: url('Fonts/Webfont/THICCCBOI-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;

}


@font-face {
    font-family: 'THICCCBOI-Light';
    src: url('Fonts/Webfont/THICCCBOI-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Medium';
    src: url('Fonts/Webfont/THICCCBOI-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Regular';
    src: url('Fonts/Webfont/THICCCBOI-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-SemiBold';
    src: url('Fonts/Webfont/THICCCBOI-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Thicc';
    src: url('Fonts/Webfont/THICCCBOI-ThicccAF.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'THICCCBOI-Thin';
    src: url('Fonts/Webfont/THICCCBOI-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;

}


/*Style Reset and Defaults*/

html {
    font-size: 20px;

}


.container{
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

img{
    max-width: 100%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 

.heading2{
    font-size: 1.9rem;
    font-family: 'THICCCBOI-Bold';
    margin-bottom: 1em;
}

.heading3{
    font-size: .8rem;
    font-family: 'THICCCBOI-SemiBold';
    color: var(--text-grey2);
    text-transform: uppercase;
    margin-bottom: 1em;
    letter-spacing: 1px;
}

.heading4{ 

    font-size: 1rem;
    font-family: 'THICCCBOI-Bold';
    margin-top: .75em;
    margin-bottom: 1em;
}

.pg1{
    font-size: .85rem;
    font-family: 'THICCCBOI-Medium';
    color: var(--text-grey);
    line-height: 1.7;
    text-align: center;
    margin-bottom: 1.5em;
}

.pg2{
    font-size: .85rem;
    font-family: 'THICCCBOI-Medium';
    color: var(--text-grey);
    line-height: 1.7;
    margin-bottom: 1.5em;
}

.pg3{
    font-size: 1rem;
    font-family: 'THICCCBOI-Bold';
    margin-top: .75em;
    margin-bottom: 1em;
}

/*Variables*/

:root{
    --text-black : #343f52;
    --text-grey : #60697b;
    --text-off-grey: #aab0bc;
    --text-white: #fff;
    --text-grey2: #aab0bc;

    --bg-white: #fff8ef;
    --bg-orange: #fab758;
    --bg-off-orange : #fef3e4;

    --sec-orange: #fab758;
    --sec-red: #e2626b;
    --sec-green: #45c4a0;
    --sec-blue : #3f78e0;

    --ter-red : #eea1a6;
    --ter-orange: #fcd49b;
    --ter-green: #8fdcc6;
    --ter-blue: #8caeec;

}


body{
    font-family: 'THICCCBOI-regular';
    color: var(--text-black);
}


/*Header*/

.header{
    justify-content: space-between;
    align-items: center;
    font-size: .85rem;
    margin-bottom: 9em;
    margin-top: 1.5em;
}

.header img{
    object-fit: contain;
}

.header ul{
    list-style: none;
}

.header a{
    text-decoration: none;
}

.header nav{
    flex-basis: 60%;
}

nav ul {
    justify-content: center;
}

.nav li {
    padding: 0 1.5em;
    display: flex;
    align-items: center;

}

nav svg {
    padding: 0 0 0 .5em;
    

}


/*main*/

.main{
    grid-template-columns: 60% 40%;
    align-items: center;
    margin-bottom: 7em;

}

.main h1 {
    font-size: 2.5rem;
    font-family: 'THICCCBOI-Bold';
    margin-bottom: .8em;
}

.main p {
    font-size: 1.1rem;
    color: var(--text-grey);
    line-height: 1.55;
    margin-bottom: 1em;
}

.pill-btn {
    background-color: var(--bg-orange);
    color: var(--text-white);
    font-size: 0.85rem;
    font-family: 'THICCCBOI-bold';
    padding: .8em 1.2em;
    border: 2px solid var(--bg-orange);
    border-top-left-radius: 50rem;
    border-top-right-radius: 50rem;
    border-bottom-left-radius: 50rem;
    border-bottom-right-radius: 50rem;
}

/*article 1*/

.services{
    flex-direction: column;
}

.services > h3{
    align-self: center;
    order: 1; 
}

.services > h2{
    align-self: center;
    order: 2;
    text-align: center;
}



.services > div {
    order: 3;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 2%;
}

.service-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12% 12%;
    box-shadow: #343f52; 
}

.service-box svg {
    width: 20%;
    
}

.lineal-fill.seo {
    fill: var(--ter-orange)
}

.lineal-fill.web{
    fill: var(--ter-red);
}

.lineal-fill.chat{
    fill: var(--ter-green);
}

.lineal-fill.megphone{
    fill: var(--ter-blue);
}


.service-box > p:first-of-type {
    
}

.service-box a{

    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    
}

.service-box .text-yellow{
    color: var(--sec-orange);
}

.service-box .text-red{
    color: var(--sec-red);
}

.service-box .text-green{
    color: var(--sec-green);

}

.service-box .text-blue{
    color: var(--sec-blue);
}

/*article 2*/

.layout-1 {
    display: grid;
    grid-template-columns: 40% 60% ;
    font-family: 'THICCCBOI-Bold';

}

.layout-1 > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
}


.layout-1 > div:nth-of-type(1) > h3{
    order: 1;
}

.layout-1 > div:nth-of-type(1) > h2{
    order: 2;
}

.layout-1 > div:nth-of-type(1) > p{
    order: 3;
}

.form{
    order: 4;
    display: flex;
}

.form input[type=text]{
    flex-basis: 50%;
    padding: 3%;
    font-size: .75rem;
    font-family: 'THICCCBOI-Medium';
    color: var(--text-grey);
    border: 1px solid rgba(8, 60,130,.07);
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
}


.form input[type=text]:focus-visible{
    outline: none;
    border: 1px solid var(--bg-orange);

}

.form button{
    font-size: .85rem;
    font-family: 'THICCCBOI-SemiBold';
    color: var(--text-white);
    background-color: var(--bg-orange);
    border: 2px solid var(--bg-orange);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: .8em 1.5em;
}

/*about*/

.process{
    display: grid;
    grid-template-columns: 50% 50%;

}

.process1{
    display: flex;
    flex-direction: column;

}

.process1 > h3{
    order: 1;
}


.process1 > h2{
    order: 2;
}


.process1 > p{
    order: 3;

}

.process1 > button{
    order: 4;
    width: max-content;
}

.process2{
    display: flex;
    flex-direction: column;
}


.step {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 1.4em 5em 1.4em 1.4em;
    border: 1px solid red;
    border-radius: 4px;
    margin-bottom: 1.7em;
}

.step > div:nth-of-type(1) {
    text-align: center;
    font-size: 1.1rem;
    font-family: 'THICCCBOI-SemiBold';
    background-color: var(--bg-off-orange);
    color: var(--bg-orange);
    padding: 1em;
    border-radius: 50%;

}

.step > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin-left: 1.2em;
}

.step p {
    font-family: 'THICCCBOI-Bold';
    margin-bottom: .4em;
}

.step span{
    font-size: .85rem;
    color: var(--text-grey);
}

.solutions {
    display: grid;
    grid-template-columns: 50% 45%;
    align-items: center;
    gap: 5%;
}


.layout-2{
    display: flex;
    flex-direction: column;
}

.layout-2 h3{
    order: 1;
}

.layout-2 h2{
    order: 2;
}

.layout-2 ul{
    order: 3;
}

.layout-2 > ul{
    font-size: .9rem;
    font-family: 'THICCCBOI-SemiBold';
}

.layout-2 li{
    margin-bottom: 2em;
}


/*team*/

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team > h3{
    order: 1;
}

.team > h2{
    order: 2;
    text-align: center;
}

.team > div{
    order: 3;
    align-self: baseline;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
}

.member {
    padding: 1.5em;
}

.member img{
    border-radius: 50%;
}

.member svg {
    margin-right: 1em;
}

/*solutions2*/

.solution2{
    display: grid;
    grid-template-columns: 40% 60%;
}

.layout-3{
    display: flex;
    flex-direction: column;
    padding-right: 20%;
}

.layout-3 > h3{
    order: 1;
}

.layout-3 > h2{
    order: 2;
}

.layout-3 > p{
    order: 3;
}

.layout-3 > div{
    order: 4;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

.layout-3 li{
    list-style: none;
    display: flex;
}

.layout-3 span.pg2{
    margin-bottom: 1em;
}

.layout-3 span.check{
    color: var(--sec-orange);
}

/*Testimonials*/

.testimonials{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

}

.layout-4{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5em;


}

.layout-4 div{
    border: 1px solid red;
    padding: 1em;
}

.layout-4 > div:nth-child(1){
    grid-column: 1/6;
}

.layout-4 > div:nth-child(2){
    grid-column: 6/12;

}

.layout-4 > div:nth-child(3){
    grid-row: 2;
    grid-column: 2/7;
}

.layout-4 > div:nth-child(4){

    grid-row: 2;
    grid-column: 7/13;

}

.layout-5{
    display: flex;
    flex-direction: column;
    padding: 5em;

}

.layout-5 > h3{
    order: 1;
}


.layout-5 > h2{
    order: 2;
}


.layout-5 > p{
    order: 3;
    
}


.layout-5 > button{
    order: 4;
    width: max-content;
}

/*Prices*/

.prices{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.layout-6 {
    padding-right: 40%;
}

.layout-7{
    display: flex
}

.layout-7 li {
    list-style: none;
    margin-bottom: 1em;;
}

.plan{
    border: 1px solid red;
    padding: 4em;
    margin-right: 1em;
}

.plan p:first-child{
    font-size: 2.4rem;
    font-family: 'THICCCBOI-Medium';
    margin-bottom: .4em;

}

.plan p:nth-of-type(2){
    font-size: 1rem;
    font-family: 'THICCCBOI-SemiBold'
}

.plan ul{
    font-family: 'THICCCBOI-Regular';
    font-size: .85rem;
    margin: 2.5em 0 
}

.bold{
    font-family: 'THICCCBOI-Medium';
}

.sub{
    font-size: .85rem;
    color: var(--text-grey);
}

/*invitation*/

.invitation {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-auto-rows: 100%;
    align-items: center;
}

.invitation ul {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    padding: 3em 0;
}

.invitation li {
    list-style: none;
    width: 7%;
}

/*footer*/

.layout-8{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3em;
    border-bottom: 1px solid rgba(164 ,174 ,198 ,.2);
}

.layout-8 > h2.heading2{
    margin-bottom: 0;
}

.layout-9 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.layout-9 li{
    list-style: none;
}

